anyio
appnope
asttokens
backcall
click
comm
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
fastapi
fonttools
h11
httptools
idna
importlib-metadata
importlib-resources
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pexpect
pickleshare
Pillow
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
pydantic
Pygments
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
scikit-learn
scipy
seaborn
six
sklearn
sniffio
stack-data
starlette
threadpoolctl
tornado
traitlets
typing_extensions
tzdata
uvicorn
uvloop
watchfiles
wcwidth
websockets
wordcloud
zipp
